:root {
    --color: black;
    --background-color: white;
    --list-color: rgb(248, 248, 248);
    --shadow-color-a: rgba(0, 0, 0, 0.1);
    --shadow-color-b: rgba(0, 0, 0, 0.05);
}
body {
    padding: 0;
    margin: 0;
}
* {
    color: var(--color);
    background-color: var(--background-color);
    font-size: 14px;
    font-family: Roboto, Noto, sans-serif;
}
h1 {
    font-size: 20px;
}
ul {
    min-width: 700px;
    width: 60vw;
    list-style: none;
    margin: auto;
    margin-top: 32px;
    padding: 0;
}
li {
    width: 100%;
    min-height: 60px;
    border-radius: 8px;
    margin: 16px 8px;
    padding: 16px 0;
    text-align: center;
    background-color: var(--list-color);
    box-shadow: 5px 5px 5px var(--shadow-color-a);
    display: table;
}
li > * {
    display: table-cell;
    vertical-align: middle;
}
li > div > * {
    display: inline-block;
    margin-left: 8px;
}
li > div > span {
    width: 40%;
}
li > div > input.shortcut {
    width: 30%;
}
input[type="button"] {
    cursor: pointer;
}
li * {
    background-color: transparent;
}
li input {
    border: 0;
    background-color: var(--shadow-color-b);
    border-radius: 4px;
    padding: 4px 16px;
}
li input:hover {
    background-color: var(--shadow-color-a);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: white;
        --background-color: #393939;
        --list-color: rgb(81, 81, 81);
        --shadow-color-a: rgba(0, 0, 0, 0.2);
        --shadow-color-b: rgba(0, 0, 0, 0.3);
    }
}
